@import '../../style/variables.scss';

.wrapper {
  position: fixed;
  top: $s_32;
  left: 50%;
  transform: translateX(-50%);
  padding: $s_8 $s_8 $s_8 $s_16;
  border-radius: $s_8;
  background-color: $red_700;
  display: flex;
  align-items: center;
}

.message {
  color: $red_100;
  margin-right: $s_8;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: $s_8;
  color: $red_100;
  &:hover {
    color: $red_300;    
  }
}
