@import '../../style/variables.scss';

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: $s_512;
  max-height: $s_256;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  outline: none;
  border-radius: $s_16;
  background-color: white;
  box-shadow: 0 $s_16 $s_24 0 rgba(12,0,51,0.10);
  padding: $s_32;
}

.content {
  flex: 1
}

.actions {
  display: grid;
  grid-gap: $s_8;
  grid-template-columns: auto auto;
  justify-content: flex-end;
}

.heading {
  font-size: $s_24;
  color: $grey_100;
  font-weight: 500;
  margin-top: 0;
}

.value {
  font-size: $s_32;
  color: $grey_100;
  font-weight: 900;
  margin-top: $s_8;
  margin-bottom: $s_8;
}

.resultWrapper {
  display: flex;
  align-items: center;
  margin-top: $s_32;
  margin-bottom: $s_8;
}

.arrow {
  margin-left: $s_24;
  margin-right: $s_24;
  margin-top: $s_24;
  color: $grey_100;
}

.label {
  color: $grey_200;
  font-size: $s_12;
  line-height: $s_16;
}
