@import '../../style/variables.scss';

.button {
  border-radius: $s_32;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
  box-shadow: 0 0 0 0 $blue_400;
  font-weight: 500;

  &.normal {
    padding: $s_8 $s_16;
    font-size: $s_12;
  }

  &.large {
    padding: $s_16 $s_32;
    font-size: $s_16;
  }

  &.secondary {
    background-color: white;
    color: $grey_200;
    border: $s_2 solid $grey_300;
    &:hover {
      transition: border-color 0.1s;
      border-color: $grey_200;
    }
    &:focus {
      box-shadow:0px 0px 0px $s_4 $grey_500;
    }
  }

  &.primary {
    background-color: $blue_300;
    color: white;
    &:hover {
      transition: background-color 0.1s;
      background-color: $blue_400;
    }
    &:focus {
      box-shadow:0px 0px 0px $s_4 $blue_600;
    }
  }

  &.disabled {
    background-color: $grey_200 !important;
  }
  

}
