@import '../../style/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($s_512, 1fr));
  min-height: 100vh;
  .side {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: $s_64;
  }
  .priceInput {
    margin-top: $s_96;
  }
}

.darker {
  background-color: $grey_700
}

.buttonWrapper {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: $s_32;
}
