@import '../../style/variables.scss';

.wrapper {
  position: relative;
  width: 100%;
  max-width: $s_384;
  display: flex;
  justify-content: center;
}

.dropdownContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  box-shadow: 0 $s_4 $s_8 0 $grey_600;
  transform: translateY(-$s_16);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  border-radius: 0 0 $s_8 $s_8;
  overflow: hidden;
  &.focused {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdownItem {
  padding: $s_24;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: $grey_200;
  &.focused {
    background-color: $grey_700;
  }
}

.picker {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: $grey_200;
  font-size: $s_12;
}

.inputWrapper {
  display: flex;
  border-bottom: 1px solid $grey_300;
  padding-top: $s_8;
  padding-bottom: $s_8;
  align-items: center;
  input {
    width: 100%;
    outline: none;
    border: 0;
    font-size: $s_16;
    background-color: transparent;
    color: $grey_100;
  }
}

.pocketValue {
  color: $grey_200;
  font-size: $s_16;
}

.chevron {
  color: $grey_200;
  margin-left: $s_4;
}
