@import '../../style/variables.scss';

.input {
  border: 0;
  font-size: $s_64;
  background: transparent;
  outline: none;
  text-align: center;
  color: $grey_100;
  width: 100%;
  &.invalid {
    color: $red_300
  }
  &::placeholder {
    color: $grey_300
  }
}
